/**
 * fix inline
 */
 .valium-reactstrap .form-group.inline {
  margin-bottom :0;
  display: inline-block;
}

/**
 * fix for checkbox
 **/
.valium-reactstrap .form-check-input,
.valium-reactstrap .custom-switch {
  position: relative;
  left: 1em;
}

.valium-reactstrap .custom-switch,
.valium-reactstrap .custom-switch input,
.valium-reactstrap .custom-switch label {
  cursor: pointer;
}