/**
 * fix inline
 */
.valium-reactstrap-form-group.form-group.inline {
  margin-bottom :0;
  display: inline-block;
}

/**
 * fix for checkbox
 **/
.valium-reactstrap-form-group .form-check-input,
.valium-reactstrap-form-group .custom-switch {
  position: relative;
  left: 1em;
}

.valium-reactstrap-form-group .custom-switch input,
.valium-reactstrap-form-group .custom-switch label {
  cursor: pointer;
}
