.valium-reactstrap .valium-reactstrap-form-group {
  text-align: left;
}

/**
 * fix inline
 */
 .valium-reactstrap.inline {
  display: inline-block;
  vertical-align: top;
 }

.valium-reactstrap.inline .valium-reactstrap-form-group,
.valium-reactstrap.inline .valium-reactstrap-buttons,
.valium-reactstrap-form-group.form-group.inline {
  margin-bottom :0;
  display: inline-block;
  vertical-align: top;
  padding-right: 1em;
}

.valium-reactstrap.inline .valium-reactstrap-buttons {
  margin-top: 0;
}

/**
 * fix for checkbox
 **/
.valium-reactstrap-form-group .form-check-input,
.valium-reactstrap-form-group .custom-switch {
  position: relative;
  left: 1em;
}

.valium-reactstrap-form-group .custom-switch input,
.valium-reactstrap-form-group .custom-switch label {
  cursor: pointer;
}
