/**
 * ensure :invalid red when :focus
 * Better use is-valid and is-invalid than :valid / :invalid (compound components will thank you)
 */
 .valium-reactstrap-form-group .form-control.is-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem #dc354540;
}

/**
 * is-unsaved (but not invalid)
 */

//.valium-reactstrap-form-group.is-unsaved .form-control.is-valid:not(:focus) {
.valium-reactstrap-form-group.is-unsaved .form-control:not(.is-invalid):not(:focus) {
  /*border-color: #cad8e4;
  outline: none;*/
  box-shadow: inset 0 0 0.4rem #828d9240;
}

/**
 * is-required (but not invalid)
 */


/**
 * required
 */
/*
 .valium-reactstrap-form-group .form-control.is-valid:required {
  border-color: #d8c987;
  outline: none;
  box-shadow: 0 0 0 0.2rem #b8ae85;
}

.valium-reactstrap-form-group .form-control.is-valid:required:not(:focus) {
 box-shadow: none; 
}

*/

.valium-reactstrap-form-group .form-control.is-valid:required,
.valium-reactstrap-form-group .was-validated .form-control:valid:required {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512' %3e%3cpath fill='%2328a745' d='M505 174.8l-39.6-39.6c-9.4-9.4-24.6-9.4-33.9 0L192 374.7 80.6 263.2c-9.4-9.4-24.6-9.4-33.9 0L7 302.9c-9.4 9.4-9.4 24.6 0 34L175 505c9.4 9.4 24.6 9.4 33.9 0l296-296.2c9.4-9.5 9.4-24.7.1-34zm-324.3 106c6.2 6.3 16.4 6.3 22.6 0l208-208.2c6.2-6.3 6.2-16.4 0-22.6L366.1 4.7c-6.2-6.3-16.4-6.3-22.6 0L192 156.2l-55.4-55.5c-6.2-6.3-16.4-6.3-22.6 0L68.7 146c-6.2 6.3-6.2 16.4 0 22.6l112 112.2z'/%3e%3c/svg%3e");
}

 .valium-reactstrap-form-group .form-control.is-invalid:required,
 .valium-reactstrap-form-group .was-validated .form-control:invalid:required {
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512' %3e%3cpath fill='%23dc3545' d='M505 174.8l-39.6-39.6c-9.4-9.4-24.6-9.4-33.9 0L192 374.7 80.6 263.2c-9.4-9.4-24.6-9.4-33.9 0L7 302.9c-9.4 9.4-9.4 24.6 0 34L175 505c9.4 9.4 24.6 9.4 33.9 0l296-296.2c9.4-9.5 9.4-24.7.1-34zm-324.3 106c6.2 6.3 16.4 6.3 22.6 0l208-208.2c6.2-6.3 6.2-16.4 0-22.6L366.1 4.7c-6.2-6.3-16.4-6.3-22.6 0L192 156.2l-55.4-55.5c-6.2-6.3-16.4-6.3-22.6 0L68.7 146c-6.2 6.3-6.2 16.4 0 22.6l112 112.2z'/%3e%3c/svg%3e");
}

  